@import 'tailwindcss';

@theme {
  --font-sans: var(--font-suit), sans-serif;
  --font-cafe24: var(--font-cafe24), sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);

  font-family:
    var(--font-suit),
    system-ui,
    -apple-system,
    sans-serif;
}

button {
  cursor: pointer;
}

.flex-center {
  @apply flex items-center justify-center;
}

.dropdown-btn {
  @apply w-full px-3 py-2.5 text-left text-sm text-neutral-50 hover:bg-neutral-500;
}
