@import 'tailwindcss';

@theme {
  --font-sans: var(--font-suit), sans-serif;
  --font-cafe24: var(--font-cafe24), sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);

  font-family:
    var(--font-suit),
    system-ui,
    -apple-system,
    sans-serif;
}

button {
  cursor: pointer;
}
