@import 'tailwindcss';

@theme {
  --font-sans: var(--font-suit), sans-serif;
  --font-cafe24: var(--font-cafe24), sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);

  font-family:
    var(--font-suit),
    system-ui,
    -apple-system,
    sans-serif;
}

button {
  cursor: pointer;
}

.flex-center {
  @apply flex items-center justify-center;
}

.ellipsis {
  @apply overflow-hidden text-ellipsis whitespace-nowrap;
}

/* 미팅 관련 커스텀 클래스 */
.dropdown-btn {
  @apply w-full px-3 py-2.5 text-left text-sm text-neutral-50 hover:bg-neutral-500;
}

.meeting-side-modal {
  @apply flex w-full flex-1 flex-col overflow-hidden rounded-lg border border-neutral-600 bg-neutral-700;
}
