@import 'tailwindcss';

@theme {
  --font-sans: var(--font-suit), sans-serif;
  --font-cafe24: var(--font-cafe24), sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);

  font-family:
    var(--font-suit),
    system-ui,
    -apple-system,
    sans-serif;
}

button {
  cursor: pointer;
}

.btn-sm {
  @apply flex items-center gap-2 rounded-sm px-3 py-2 text-sm font-semibold transition;
}

.btn-primary {
  @apply bg-lime-500 text-white hover:bg-lime-600;
}

.btn-default {
  @apply text-neutral-600 hover:bg-neutral-100;
}

.btn-active {
  @apply bg-lime-100 text-lime-600 hover:bg-lime-200;
}
