apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: devmeet
# 감지할 리소스들
resources:
  # frontend 관련
  - frontend/frontend-deploy.yaml
  - frontend/frontend-service.yaml
  - frontend/frontend-config.yaml
  # main_backend 관련
  - main_backend/main-backend-deploy.yaml
  - main_backend/main-backend-service.yaml
  - main_backend/main-backend-config.yaml
  - main_backend/main-backend-secret.enc.yaml
  # tool_backend 관련
  - tool_backend/tool-backend-deploy.yaml
  - tool_backend/tool-backend-service.yaml
  - tool_backend/tool-backend-config.yaml
  - tool_backend/tool-backend-secret.enc.yaml
  # ingress-nginx 관련
  - devmeet-gateway-ingress.yaml
  - devmeet-tool-ws-gateway-ingress.yaml
  - letsencrypt-prod.yaml
# 사용되는 이미지들
images:
  - name: docker.io/logankimdoing/frontend-deploy-server-img
    newTag: sha-cb0f34b
  - name: docker.io/logankimdoing/main-backend-deploy-server-img
    newTag: sha-d995561
  - name: docker.io/logankimdoing/tool-backend-deploy-server-img
    newTag: sha-d995561
