apiVersion: v1
kind: Service
metadata:
  name: main-backend-svc
  namespace: devmeet
spec:
  selector:
    app: main-backend
  ports:
    - name: http
      port: 8080
      targetPort: 8080
  type: ClusterIP
