name: NCP 서버 배포

on: 
  push:
    branches: 
      - main

concurrency:
  group: main
  cancel-in-progress: true

jobs:
  # 배포용 파일 빌드 후 배포
  backend-build:
    name: Docker 백엔드 빌드
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout Docker backend
        uses: actions/checkout@v5

      - name: QEMU 설정
        uses: docker/setup-qemu-action@v3

      - name: Buildidx 세팅
        uses: docker/setup-buildx-action@v3

      - name: Dockerhub 로그인
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: BuildIdx를 이용해서 build 후 cache하기 
        uses: docker/build-push-action@v5
        with: 
          context: ./rep/main_backend
          file: ./rep/main_backend/Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ${{ secrets.DOCKER_HUB_USERNAME }}/${{ vars.DOCKER_MAIN_BACKEND_DEPLOY_SERVER_IMG }}:latest
            ${{ secrets.DOCKER_HUB_USERNAME }}/${{ vars.DOCKER_MAIN_BACKEND_DEPLOY_SERVER_IMG }}:${{github.sha}}
          cache-from: type=registry,ref=${{ secrets.DOCKER_HUB_USERNAME }}/${{ vars.DOCKER_MAIN_BACKEND_DEPLOY_SERVER_IMG }}:buildcache
          cache-to: type=registry,ref=${{ secrets.DOCKER_HUB_USERNAME }}/${{ vars.DOCKER_MAIN_BACKEND_DEPLOY_SERVER_IMG }}:buildcache,mode=max

  frontend-build:
    name: Docker 프론트엔드 빌드
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout Docker frontend
        uses: actions/checkout@v5

      - name: QEMU 설정
        uses: docker/setup-qemu-action@v3

      - name: Buildidx 세팅
        uses: docker/setup-buildx-action@v3

      - name: Dockerhub 로그인
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: BuildIdx를 이용해서 build 후 cache하기 
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ${{ secrets.DOCKER_HUB_USERNAME }}/${{ vars.DOCKER_FRONTEND_DEPLOY_SERVER_IMG }}:latest
            ${{ secrets.DOCKER_HUB_USERNAME }}/${{ vars.DOCKER_FRONTEND_DEPLOY_SERVER_IMG }}:${{ github.sha }}
          cache-from: type=registry,ref=${{ secrets.DOCKER_HUB_USERNAME }}/${{ vars.DOCKER_FRONTEND_DEPLOY_SERVER_IMG }}:buildcache
          cache-to: type=registry,ref=${{ secrets.DOCKER_HUB_USERNAME }}/${{ vars.DOCKER_FRONTEND_DEPLOY_SERVER_IMG }}:buildcache,mode=max
  
  # blue-green으로 배포하려고 하는데 문제는 용량이...
  deploy:
    name: NCP 서버 배포
    runs-on: ubuntu-22.04
    needs:
      - backend-build
      - frontend-build
    
    steps:
      - name: Checkout Deploy Server
        uses: actions/checkout@v5

      - name: SSH로 접속 후 파일 전송
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.DEPLOY_SERVER_HOST }}
          username: ${{ secrets.DEPLOY_SERVER_USER }}
          key: ${{ secrets.DEPLOY_SERVER_SSH_KEY }}
          source: ./deploy/https/*
          target: /root/deploy
          strip_components: 2

      - name: SSH로 접속 후 배포
        uses: appleboy/ssh-action@v1.2.0
        with: 
          host: ${{ secrets.DEPLOY_SERVER_HOST }}
          username: ${{ secrets.DEPLOY_SERVER_USER }}
          key: ${{ secrets.DEPLOY_SERVER_SSH_KEY }}
          script: |
            mkdir -p /root/deploy
            cd /root/deploy

            # env 파일
            cat << 'EOF' > .env.backend
            ${{ secrets.NODE_BACKEND_ENV_DEPLOY_SERVER }}
            EOF

            # compose용 환경변수 
            cat << EOF > compose.env
            MAIN_BACKEND_IMG=${{ secrets.DOCKER_HUB_USERNAME }}/${{ vars.DOCKER_MAIN_BACKEND_DEPLOY_SERVER_IMG }}
            FRONTEND_IMG=${{ secrets.DOCKER_HUB_USERNAME }}/${{ vars.DOCKER_FRONTEND_DEPLOY_SERVER_IMG }}
            EOF
            
            # 최신 이미지 pull후 build 후 실행
            docker compose --env-file compose.env -f docker-compose.yml pull
            docker compose --env-file compose.env -f docker-compose.yml up -d --remove-orphans
            docker image prune -a -f

            # 상태창 확인
            docker ps
            echo "서버 배포 완료"